.members-table input {
    width:140px
}

.strong {
    font-weight: bold;
}

.f-left {
    float: left;
}

.fr-right {
}

/*
------------------------------------------------------
~/Views/LoadingPanel.cshtml - BEGIN
------------------------------------------------------*/
#loadingPanel {
    box-sizing:border-box;
    padding:15px;
    position:fixed;
    top:50%;
    margin-top:25px;
    left:50%;
    margin-left:27px;
    background-color:#000;
    /* IE 8 */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    /* IE 5-7 */
    filter:alpha(opacity=70);
    /* Netscape */
    -moz-opacity:0.7;
    /* Safari 1.x */
    -khtml-opacity:0.7;
    /* Good browsers */
    opacity:0.7;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
    z-index:99999
}
/*
------------------------------------------------------
~/Views/LoadingPanel.cshtml - END
------------------------------------------------------*/
