/*
------------------------------------------------------
BOOTSTRAP REDEFINITIONS - BEGIN
------------------------------------------------------*/

.navbar {
    margin-bottom: 0 !important;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    /*position:relative !important;*/
}

.page-body {
    top:51px !important;
    position:relative;
}

/*
------------------------------------------------------
BOOTSTRAP REDEFINITIONS - END
------------------------------------------------------*/


/*
------------------------------------------------------
BUTTONS FOR PURE - BEGIN
------------------------------------------------------*/
.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
/*
------------------------------------------------------
BUTTONS FOR PURE - END
------------------------------------------------------*/


/*
------------------------------------------------------
TABLE GENERAL - BEGIN
------------------------------------------------------*/

.table-options {
    white-space:nowrap !important;
    width: 1%;
}

/*
------------------------------------------------------
TABLE GENERAL - END
------------------------------------------------------*/


/*
------------------------------------------------------
GENERAL - BEGIN
------------------------------------------------------*/

.no-wpadding {
    padding:0 initial !important;
}

.no-lpadding {
    padding-left:0 !important;
}

.no-rpadding {
    padding-right:0 !important;
}

/*
------------------------------------------------------
GENERAL - END
------------------------------------------------------*/

/*
------------------------------------------------------
FORM GENERAL - BEGIN
------------------------------------------------------*/

.form-fieldset-dialog {

}

.form-fieldset-dialog fieldset {
    display:block !important;
    border: 1px solid #000;
    padding-top:22px !important;
}

.form-fieldset-dialog fieldset legend {
    display:block !important;
    line-height:2em;
    font-size:1.5em;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
    top: 22px;
}

    .form-fieldset-dialog.blue fieldset {
        border-color:#428bca;
    } 
    .form-fieldset-dialog.blue fieldset legend {
        background-color:#428bca;
        color:#fff;
        border-color:#428bca;
    }

/*
------------------------------------------------------
FORM GENERAL - END
------------------------------------------------------*/


/*
------------------------------------------------------
LOGIN PAGE - BEGIN
------------------------------------------------------*/

.container-login {
    position: absolute;
    top: 50%;
    margin-top: -180px;
    width: 100%;
}

.content-login {
    width: 320px;
    margin: 0 auto;
}
@media screen and (min-width: 500px) {
    .content-login {
        width: 480px;
    }
}

.login-addon .fa-lg {
    width:20px !important;
}

/*
------------------------------------------------------
LOGIN PAGE - END
------------------------------------------------------*/