.logo {
    background: url('/Content/images/logo.png') no-repeat center center, url('/Content/images/cf.png') no-repeat top -50px center;
    background-color:  #ef4e22;
    height: 68px;
    width: 85px;
    display: block;
    transition: background 0.25s ease-in;

}

.logo:hover {
    background-position: bottom -50px center, center center;
    transition: background 0.25s ease-in;
}

.title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding-left: 25px;
    display: inline-block;
}

.logout a {
    background: url('/Content/images/lock.png') no-repeat left 25px center;
    background-size: 12px;
    padding-left: 50px !important;
}
