.dual-list {

}

.dual-list-header {

}

.dual-list-filter {

}

.dual-list-odd {
    background-color:#aeaeae;
}

.dual-list-even {
    background-color:#fff;
}

.dual-list-selected {
    background-color:#428bca;
}