<div loading></div>
<div menu></div>
<div status-message></div>
<div class="container page-body" ng-controller="UserController">
    <div class="col-xs-12">
        <h2>Users <a href="javascript:;" modal-target="#registeringUser" modal-onload="setCurrent({})"><i class="fa fa-plus-circle"></i></a></h2>
        <form name="userFilterForm" class="col-xs-12  no-wpadding form-fieldset-dialog blue">
            <fieldset>
                <legend>Filters</legend>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Pop the user's name here" ng-model="filter.Name" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="Email">Email</label>
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="Pop the user's email here" ng-model="filter.Email" />
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" ng-click="search()" value="Search" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-xs-12"      >
        <h3>List of users <i class="fa fa-group"></i></h3>
        <table class="table table-striped" ng-show="!!usersOut && !!usersOut.length">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>User name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in usersOut track by item.Id" ng-cloak>
                    <td><strong>{{ item.Id }}</strong></td>
                    <td>
                        <p>{{ item.Name }}</p>
                    </td>
                    <td>
                        <p>{{ item.Email }}</p>
                    </td>
                    <td>
                        <p>{{ item.UserName }}</p>
                    </td>
                    <td class="table-options">
                        <a href="javascript:;" modal-target="#registeringUser" modal-onload="setCurrent(item)"><i class="fa fa-pencil fa"></i></a>
                        <a href="javascript:;" modal-target="#deletingUser" modal-onload="setDeletingItem(item)"><i class="fa fa-times fa"></i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <pagination in-list="users"
                            out-list="usersOut"
                            page-size="pageSize"
                            current-page="currentPage"
                            search-query="textFilter"
                            type="small"
                            class="pull-right"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div ng-show="hasSearched && !users.length">
            <div class="alert alert-info">
                <div class="message-center">
                    <strong><i class="fa fa-check"></i>&nbsp;Ops!&nbsp;</strong>We could not find users for you.</i>
                </div>
            </div>
        </div>
    </div>

    <div modal-dialog id="registeringUser" confirm-yes="save()" confirm-no="clearCurrent()">
        <div class="header">
            <h2 ng-cloak>{{ current.Id > 0 ? "Update the user" : "Create an user" }}</h2>
        </div>
        <div class="body">
            <form name="regForm" ng-cloak>
                <div class="form-group">
                    <label>Full name:</label>
                    <input type="text" ng-model="current.Name" required class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" ng-model="current.Email" required class="form-control" />
                </div>
                <div class="form-group">
                    <label>User name:</label>
                    <input type="text" ng-model="current.UserName" required class="form-control" />
                </div>
                <div class="form-group" ng-show="current.Id > 0">
                    <div class="checkbox checkbox-info">
                        <input type="checkbox" class="ng-hide" id="changingPassword" name="changingPassword" ng-model="changingPassword" ng-value="true">
                        <label for="changingPassword">
                            Changing password?
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-show="changingPassword || !(current.Id > 0)">
                    <label>Password:</label>
                    <input type="password" ng-model="current.Password" custom-validation="validatePassword" required class="form-control" />
                </div>
                <div class="form-group" ng-show="changingPassword || !(current.Id > 0)">
                    <label>Confirm password:</label>
                    <input type="password" ng-model="confirmingPassword" required class="form-control" />
                </div>
            </form>
        </div>
        <div class="footer">
            <input type="submit" value="Save" confirm-yes class="btn btn-primary" />
            <input type="button" value="Cancel" confirm-no class="btn" />
        </div>
    </div>

    <div modal-dialog id="deletingUser" confirm-yes="remove()" confirm-no="clearDeletingItem()">
        <div class="header">
            <h2 ng-cloak>Delete the user</h2>
        </div>
        <div class="body">
            <form name="appForm" ng-cloak>
                <p>Do you really want to delete <strong>{{ deletingItem.Name }}</strong>?</p>
            </form>
        </div>
        <div class="footer">
            <input type="submit" value="Delete" confirm-yes class="btn btn-primary" />
            <input type="button" value="Cancel" confirm-no class="btn" />
        </div>
    </div>
</div>
