<loading></loading>
<menu></menu>
<div class="container" ng-controller="SystemController">
    <div class="col-xs-12">

        <div class="alert alert-danger" ng-cloak ng-show="error">
            <strong>Oh snap!</strong> {{ error }}
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2>Systems</h2>
                <form name="systemForm" class="col-xs-12">
                    <fieldset>
                        <div class="form-group">
                            <label class="input-group-addon fawe" for="password">Name</label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Pop the system's name here" ng-model="filter.Name" required>
                        </div>
                        <div class="form-group">
                            <label class="input-group-addon fawe" for="password">Description</label>
                            <input type="text" class="form-control" id="Description" name="Description" placeholder="Pop the system's description here" ng-model="filter.Description" required>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Search on grid</legend>
                        <input type="text" placeholder="Search" ng-model="textFilter" class="form-control" />
                    </fieldset>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>FirstName</td>
                            <th>LastName</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in systemsOut" ng-cloak>
                            <td><strong>{{ item.Id }}</strong></td>
                            <td>
                                <p>{{ item.Name }}</p>
                            </td>
                            <td>
                                <p>{{ item.Description }}</p>
                            </td>
                            <td>
                                <p><a href="javascript:;"><i class="fa fa-pencil fa"></i></a></p>
                                <p><a href="javascript:;"><i class="fa fa-times fa"></i></a></p>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <pagination in-list="systems"
                                    out-list="systemsOut"
                                    page-size="pageSize"
                                    current-page="currentPage"
                                    search-query="textFilter"
                                    type="small"
                                    class="pull-right"></pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <modal-dialog id="modalSystem">
                <div class="header">

                </div>
                <div class="body">
                    <form name="formSystem" ng-show="addMode" ng-cloak>
                        <h2>Member registration</h2>
                        <div class="form-group">
                            <label>FirstName:</label>
                            <input type="text" ng-model="current.FirstName" required class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>LastName:</label>
                            <input type="text" ng-model="newmember.LastName" required class="form-control"/>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Add" ng-click="add()" ng-disabled="!formSystem.$valid" class="btn btn-primary" />
                            <input type="button" value="Cancel" ng-click="toggleAdd()" class="btn" />
                        </div>
                    </form>
                </div>
                <div class="footer">

                </div>
            </modal-dialog>
        </div>

    </div>
</div>
