<div ng-controller="ContactController" class="clearfix">
    <div class="pure-u-1">
        <strong class="error">{{ error }}</strong>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-2">
            <h2>{{ message }}</h2>

            <form name="addContact" class="pure-form pure-form-aligned">
                <div class="pure-control-group">
                    <file-upload file="myFile" path-key="profile" show-progress="true"></file-upload>
                    <!--<input type="file" name="myFile" file-model="myFile" class="pure-button" required />
                    <input type="button" ng-click="upload()" value="Upload" class="pure-button pure-button-primary"/>-->
                </div>
                
                <div class="pure-control-group" ng-show="myFileData.Size > 0">
                    <label>Member</label>
                    <select ng-model="contact.Member" required ng-options="member.FirstName for member in members">
                      <option value="">-- choose member --</option>
                    </select>
                </div>
                
                <div class="pure-control-group" ng-show="myFileData.Size > 0">
                    <label>Contact type</label>
                    <select ng-model="contact.Type" required ng-options="type.Description for type in contactTypes">
                      <option value="">-- choose contact type --</option>
                    </select>
                </div>

                <div class="pure-control-group" ng-show="myFileData.Size > 0">
                    <label>Contact</label>
                    <input type="text" ng-model="contact.Value" required/>
                </div>

                <div class="pure-control-group" ng-show="myFileData.Size > 0">
                    <input type="submit" value="Add" ng-click="create()" ng-disabled="!addContact.$valid" class="pure-button pure-button-primary" />
                    <input type="button" value="Cancel" ng-click="clear()" class="pure-button" />
                </div>
            </form>
        </div>

        <div class="pure-u-1-2">
            <form class="pure-form">
                <fieldset>
                    <input type="text" placeholder="Search" ng-model="textFilter" />
                </fieldset>
            </form>
            <table class="pure-table pure-table-horizontal">
                <thead class="strong">
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Member</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="entity in contacts | filter:textFilter | page: pager.currentPage : pager.itemsPerPage">
                        <td><strong>{{ entity.Id }}</strong></td>
                        <td>
                            <p>{{ entity.Type.Description }}</p>
                        </td>
                        <td>
                            <p>{{ entity.Value }}</p>
                        </td>
                        <td>
                            <p>{{ entity.Member.FirstName }} {{ entity.Member.LastName }}</p>
                        </td>
                        <td>
                            <p><a ng-click="delete(entity, $index)" href="javascript:;">Delete</a></p>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <pagination pager="pager"></pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>