<div loading></div>
<div menu></div>
<div class="container">
    <div class="col-xs-12 col-md-6">
        <a href="/#/application">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Applications</h2>
                    <i class="fa "></i>
                    <p>Create an application in order to manage the user permissions.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-md-6">
        <a href="/#/resource">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Resources</h2>
                    <i class="fa "></i>
                    <p>Create resources for your application and manage it through that app.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-md-6">
        <a href="/#/assgin-roles">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Assign roles</h2>
                    <i class="fa "></i>
                    <p>You can associate a application-role to one or more users.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-md-6">
        <a href="/#/user">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Users</h2>
                    <i class="fa "></i>
                    <p>Create a new user here.</p>
                </div>
            </div>
        </a>
    </div>
</div>
