<div ng-controller="app.home.homeCtrl" class="clearfix">
    @Html.Partial("~/Views/LoadingPanel.cshtml")
    <h2>{{ message }}</h2>
    <input type="button" ng-click="changeWelcome()" value="Change Welcome" />
</div>

