<div class="alert alert-danger ng-hide" ng-show="$root.errorMessage" ng-cloak>
    <div class="message-center">
        <i class="fa fa-warning"></i>&nbsp; {{ $root.errorMessage }} &nbsp;<i class="fa fa-times hand" ng-click="$root.errorMessage = null"></i>
    </div>
</div>
<div class="alert alert-success ng-hide" ng-show="$root.successMessage" ng-cloak>
    <div class="message-center">
        <i class="fa fa-check"></i>&nbsp; {{ $root.successMessage }} &nbsp;<i class="fa fa-times hand" ng-click="$root.successMessage = null"></i>
    </div>
</div>