.pagination>li {
  display: inline-block !important;
  height: 18px !important;
}

.pagination-desc {
    color: #0088cc;
    text-decoration: none;
    border-radius: 0;
    vertical-align: top;
    height: 1.1em;
}

.page-input {
    width: 60px;
    text-align: center;
    padding: 0;
    height: 29px;
    font-size: small;
    font-weight: bolder;
}