<ul class="pagination pagination-sm" ng-disabled="isVisible()" ng-show="totalItems() > pager.itemsPerPage">
    <li ng-disabled="prevPageDisabled()" ng-click="firstPage()"><a href="javascript:;">Primeira</a></li>
    <li ng-disabled="prevPageDisabled()" ng-click="prevPage()"><a href="javascript:;"><i class="fa fa-angle-left fa"></i></a></li>
    <li><span>Página</span></li>
    <li><input class="page-input" placeholder="1" type="number" ng-model="newCurrentPage"></li>
    <li><a title="Search"><i class="fa fa-search"></i></a></li>
    <li><span>de {{ pageCount() }}</span></li>
    <li ng-disabled="nextPageDisabled()" ng-click="nextPage()"><a href="javascript:;"><i class="fa fa-angle-right fa"></i></a></li>
    <li ng-disabled="nextPageDisabled()" ng-click="lastPage()"><a href="javascript:;">Última</a></li>
    <li><span>{{ totalItems() }} itens encontrados</span></li>
</ul>
