<loading></loading>
<menu-fixed></menu-fixed>
<div class="clearfix container body" ng-controller="EditarUsuarioController">
    <div class="col-xs-6 col-md-4">
        <div class="row">
            <form name="userForm" role="form">
                <h2>{{ titleRegister }}</h2>
                <div class="alert alert-warning" ng-show="erro"ng-cloak>
                    <button type="button" class="close" ng-click="erro = undefined">&times;</button>
                    <strong>Atenção!</strong> {{ erro }}
                </div>
                <div class="alert alert-success" ng-show="sucesso" ng-cloak>
                    <button type="button" class="close" ng-click="sucesso = undefined">&times;</button>
                    <strong>Parabéns!</strong> {{ sucesso }}
                </div>
                <div class="form-group" ng-class="{'has-error': userForm.password.$invalid && userForm.password.$dirty}">
                    <label class ="control-label">Nova senha:</label>
                    <input type="password" name="password" class="form-control" ng-model="password" required />
                    <span class="help-block" ng-show="userForm.password.$error.required && userForm.password.$dirty">Nova senha é obrigatório!</span>
                </div>
                <div class="form-group" ng-class="{'has-error': userForm.confirmPassword.$invalid && userForm.confirmPassword.$dirty}">
                    <label class="control-label">Confirmar nova senha:</label>
                    <input type="password" name="confirmPassword" class="form-control" ng-model="confirmPassword" compare-to="password" required />
                    <span class="help-block" ng-show="userForm.confirmPassword.$error.compareTo">A confirmação deve ser igual a senha!</span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Salvar" ng-click="alterarSenha()" ng-disabled="!userForm.$valid" class="btn btn-primary" />
                    <a class="btn btn-default"z href="/#/" role="button">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>