<loading></loading>
<menu-fixed></menu-fixed>
<div class="clearfix container body" ng-controller="EditarUsuarioController">
    <div class="row">
        <form name="usuarioForm" role="form">
            <h2>{{ titleRegister }}</h2>
            <div class="alert alert-warning" ng-show="erro" ng-cloak>
                <button type="button" class="close" ng-click="erro = undefined">&times;</button>
                <strong>Atenção!</strong> {{ erro }}
            </div>
            <div class="alert alert-success" ng-show="sucesso" ng-cloak>
                <button type="button" class="close" ng-click="sucesso = undefined">&times;</button>
                <strong>Parabéns!</strong> {{ sucesso }}
            </div>
            <div class="form-group" ng-class="{'has-error': usuarioForm.nome.$invalid && usuarioForm.nome.$dirty}">
                <label class ="control-label">Nome</label>
                <input type="text" name="nome" class="form-control" placeholder="Nome" ng-model="usuario.Nome" required />
                <span class="help-block" ng-show="usuarioForm.nome.$error.required && usuarioForm.nome.$dirty">Nome é obrigatório!</span>
            </div>
            <div class="form-group" ng-class="{'has-error': usuarioForm.login.$invalid && usuarioForm.login.$dirty}">
                <label class="control-label">Login</label>
                <input type="text" name="login" class="form-control" placeholder="Login" ng-model="usuario.Login" required />
                <span class="help-block" ng-show="usuarioForm.login.$error.required && usuarioForm.login.$dirty">Login é obrigatório!</span>
            </div>
            <div class="form-group" ng-class="{'has-error': usuarioForm.sapId.$invalid && usuarioForm.sapId.$dirty}">
                <label class ="control-label">Código SAP</label>
                <input type="text" name="sapId" class="form-control" placeholder="Código SAP" ng-pattern="/^(\d)+$/" ng-model="usuario.SapId" />
                <span class="help-block" ng-show="usuarioForm.sapId.$error.pattern && usuarioForm.sapId.$dirty">Digite apenas números!</span>
            </div>
            <br />
            <div class="form-group">
                <input type="button" value="Salvar" ng-click="salvar()" ng-disabled="!usuarioForm.$valid" class="btn btn-primary" />
                <a class="btn btn-default" href="/#/" role="button">Voltar</a>
            </div>
        </form>
    </div>
</div>