<loading></loading>
<menu-fixed></menu-fixed>
<div class="clearfix container body" ng-controller="PerfilController">

    <form class="form-inline">
        <div class="row">
            <div class="col-xs-8 col-md-6">
                <input type="text" class="form-control" ng-model="search" placeholder="Search" />
            </div>
            <div class="col-xs-4 col-md-6">
                <a class="btn btn-primary pull-right" href="javascript:;" modal-target="#perfil" modal-onload="novo()" role="button">Novo</a>
            </div>
        </div>
    </form>
    <br />

    <div class="alert alert-warning" ng-show="erro" ng-cloak>
        <button type="button" class="close" ng-click="erro = undefined">&times;</button>
        <strong>Atenção!</strong> {{ erro }}
    </div>
    <div class="alert alert-success" ng-show="sucesso" ng-cloak>
        <button type="button" class="close" ng-click="sucesso = undefined">&times;</button>
        <strong>Sucesso!</strong> {{ sucesso }}
    </div>

    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Sistema</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="perfil in paginador.items() | orderBy: ['Sistema.Nome','Nome'] | page: paginador.currentPage : paginador.itemsPerPage" ng-cloak>
                    <td scope="row">{{ perfil.Id }}</td>
                    <td>{{ perfil.Nome }}</td>
                    <td>{{ perfil.Descricao }}</td>
                    <td>{{ perfil.Sistema.Nome }}</td>
                    <td>
                        <a href="javascript:;" modal-target="#perfil" modal-onload="editar(perfil.Id)"><i class="fa fa-pencil fa-lg"></i></a>
                        <a ng-href="/#/associar-objetos/{{ perfil.Id }}"><i class="fa fa-cube fa-lg"></i></a>
                        <a href="javascript:;" modal-target="#delete-modal" modal-onload="confirmarDelete(perfil)"><i class="fa fa-remove fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <pagination class="pull-right" pager="paginador"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <modal-dialog id="perfil" confirm-yes="salvar()">
        <div class="header">
            <h2>Manutenção de Perfil</h2>
        </div>
        <div class="body">
            <div class="row">
                <div class="alert alert-warning" ng-show="erro" ng-cloak>
                    <button type="button" class="close" ng-click="erro = undefined">&times;</button>
                    <strong>Atenção!</strong> {{ erro }}
                </div>
                <div class="alert alert-success" ng-show="sucesso" ng-cloak>
                    <button type="button" class="close" ng-click="sucesso = undefined">&times;</button>
                    <strong>Parabéns!</strong> {{ sucesso }}
                </div>
                <form name="perfilForm" class="form-horizontal" role="form">
                    <div class="form-group col-xs-12" ng-class="{'has-error': perfilForm.nome.$invalid && perfilForm.nome.$dirty}">
                        <label class="control-label col-xs-3">Nome</label>
                        <div class="col-xs-9">
                            <input type="text" name="nome" placeholder="Nome" class="form-control" ng-model="perfil.Nome" required />
                            <span class="help-block" ng-show="perfilForm.nome.$error.required && perfilForm.nome.$dirty">Nome é obrigatório!</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-class="{'has-error': perfilForm.descricao.$invalid && perfilForm.descricao.$dirty}">
                        <label class="control-label col-xs-3">Descrição</label>
                        <div class="col-xs-9">
                            <input type="text" name="descricao" placeholder="Descrição" class="form-control" ng-model="perfil.Descricao" required />
                            <span class="help-block" ng-show="perfilForm.descricao.$error.required && perfilForm.descricao.$dirty">Descrição é obrigatório!</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-class="{'has-error': perfilForm.sistema.$invalid && perfilForm.sistema.$dirty}">
                        <label class="control-label col-xs-3">Sistema</label>
                        <div class="col-xs-9">
                            <select name="sistema" ng-options="sistema.Id as sistema.Nome for sistema in sistemas" placeholder="Sistema" class="form-control" ng-model="perfil.Sistema.Id" required>
                                <option value="">-- Escolha o sistema --</option>
                            </select>
                            <span class="help-block" ng-show="perfilForm.sistema.$error.required && perfilForm.sistema.$dirty">Descrição é obrigatório!</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="form-group">
                <input type="button" value="Salvar" confirm-yes ng-disabled="!perfilForm.$valid" class="btn btn-primary" />
                <input type="button" value="Cancelar" confirm-no class="btn btn-default" />
            </div>
        </div>
    </modal-dialog>
    <modal-dialog id="delete-modal" confirm-yes="delete()">
        <div class="header">
            <h3>Excluir perfil</h3>
        </div>
        <div class="body">
            <p>Tem certeza que deseja excluir o perfil: <strong>{{ perfilSelecionado.Nome }}</strong></p>
        </div>
        <div class="footer">
            <div class="form-group">
                <input type="button" value="Sim" confirm-yes class="btn btn-primary" />
                <input type="button" value="Não" confirm-no class="btn btn-default" />
            </div>
        </div>
    </modal-dialog>
</div>

