<loading></loading>
<menu-fixed></menu-fixed>
<div class="clearfix container body" ng-controller="UsuarioController">

    <form class="form-inline">
        <div class="row">
            <div class="col-xs-8 col-md-6">
                <input type="text" class="form-control" ng-model="search" placeholder="Search" />
            </div>
            <div class="col-xs-4 col-md-6">
                <a class="btn btn-primary pull-right" href="javascript:;" modal-target="#manutencao-usuario" modal-onload="novo()" role="button">Registrar</a>
            </div>
        </div>
    </form>
    <br/>

    <div class="alert alert-warning" ng-show="erro" ng-cloak>
        <button type="button" class="close" ng-click="erro = undefined">&times;</button>
        <strong>Atenção!</strong> {{ erro }}
    </div>
    <div class="alert alert-success" ng-show="sucesso" ng-cloak>
        <button type="button" class="close" ng-click="sucesso = undefined">&times;</button>
        <strong>Sucesso!</strong> {{ sucesso }}
    </div>

    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Código SAP</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in paginador.items() | orderBy: 'Nome' | page: paginador.currentPage : paginador.itemsPerPage" ng-cloak>
                    <td scope="row">{{ usuario.Id }}</td>
                    <td>{{ usuario.Nome }}</td>
                    <td>{{ usuario.Login }}</td>
                    <td>{{ (usuario.SapId ? usuario.SapId : "-") }}</td>
                    <td>
                        <a href="javascript:;" modal-target="#manutencao-usuario" modal-onload="editar(usuario.Id)"><i class="fa fa-pencil fa-lg"></i></a>
                        <a ng-href="/#/associar-perfis/{{ usuario.Id }}"><i class="fa fa-group fa-lg"></i></a>
                        <a href="javascript:;" modal-target="#delete-modal" modal-onload="confirmarDelete(usuario)"><i class="fa fa-remove fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <pagination class="pull-right" pager="paginador"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


    <modal-dialog id="manutencao-usuario" confirm-yes="salvar()">
        <div class="header">
            <h2>Manutenção de Usuário</h2>
        </div>
        <div class="body">
            <div class="row">
                <div class="alert alert-warning" ng-show="erro" ng-cloak>
                    <button type="button" class="close" ng-click="erro = undefined">&times;</button>
                    <strong>Atenção!</strong> {{ erro }}
                </div>
                <div class="alert alert-success" ng-show="sucesso" ng-cloak>
                    <button type="button" class="close" ng-click="sucesso = undefined">&times;</button>
                    <strong>Parabéns!</strong> {{ sucesso }}
                </div>
                <form name="userForm" class="form-horizontal" role="form">
                    <div class="form-group col-xs-12" ng-class="{'has-error': userForm.nome.$invalid && userForm.nome.$dirty}">
                        <label class="control-label col-xs-3">Nome</label>
                        <div class="col-xs-9">
                            <input type="text" name="nome" placeholder="Nome" class="form-control" ng-model="usuario.Nome" required />
                            <span class="help-block" ng-show="userForm.nome.$error.required && userForm.nome.$dirty">Nome é obrigatório!</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-class="{'has-error': userForm.login.$invalid && userForm.login.$dirty}">
                        <label class="control-label col-xs-3">Login</label>
                        <div class="col-xs-9">
                            <input type="text" name="login" placeholder="Login" class="form-control" ng-model="usuario.Login" required />
                            <span class="help-block" ng-show="userForm.login.$error.required && userForm.login.$dirty">Login é obrigatório!</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-class="{'has-error': userForm.sapId.$invalid && userForm.sapId.$dirty}">
                        <label class="control-label col-xs-3">Código SAP</label>
                        <div class="col-xs-9">
                            <input type="text" name="sapId" placeholder="Código SAP" class="form-control" ng-pattern="/^(\d)+$/" ng-model="usuario.SapId" />
                            <span class="help-block" ng-show="userForm.sapId.$error.pattern && userForm.sapId.$dirty">Digite apenas números!</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12" ng-hide="usuario.Id" ng-class="{'has-error': userForm.senha.$invalid && userForm.senha.$dirty}">
                        <label class="control-label col-xs-3">Senha</label>
                        <div class="col-xs-6">
                            <input type="text" name="senha" placeholder="Senha" class="form-control" ng-model="usuario.Senha" disabled required />
                            <span class="help-block" ng-show="userForm.senha.$error.required && userForm.senha.$dirty">Gerar uma senha é obrigatório!</span>
                        </div>
                        <div class="form-group col-xs-3" ng-hide="usuario.Id">
                            <input type="button" value="Gerar Senha" ng-click="gerarSenha()" class="btn btn-warning" ng-disabled="!usuario" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="form-group">
                <input type="button" value="Salvar" confirm-yes ng-disabled="!userForm.$valid" class="btn btn-primary" />
                <input type="button" value="Cancelar" confirm-no class="btn btn-default" />
            </div>
        </div>
    </modal-dialog>
    <modal-dialog id="delete-modal" confirm-yes="delete()">
        <div class="header">
            <h3>Excluir usuário</h3>
        </div>
        <div class="body">
            <p>Tem certeza que deseja excluir o usuário: <strong>{{ usuarioSelecionado.Nome }}</strong></p>
        </div>
        <div class="footer">
            <div class="form-group">
                <input type="button" value="Sim" confirm-yes class="btn btn-primary" />
                <input type="button" value="Não" confirm-no class="btn btn-default" />
            </div>
        </div>
    </modal-dialog>
</div>

