<nav>
    <ul>
        <li><a href="/#/">Home Page</a></li>
        <li><a href="/#/member">Member Page</a></li>
        <li><a href="/#/contact">Contact Page</a></li>
        <li ng-controller="userCtrl"><a ng-click="logout()">Logout</a></li>
    </ul>
</nav>
