
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Pilot MVC 5</a>

        <ul>
            <li><a href="/#/">Home Page</a></li>
            <li><a href="/#/member">Member Page</a></li>
            <li><a href="/#/contact">Contact Page</a></li>
            <li ng-controller="userCtrl"><a href="javascript:;" ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</div>
