<ul class="pagination" ng-class="{ 'pagination-sm': type == 'small', 'pagination-lg': type == 'large' }" ng-show="isVisible()">
    <li ng-disabled="prevPageDisabled()" ng-click="firstPage()"><a href="javascript:;">First</a></li>
    <li ng-disabled="prevPageDisabled()" ng-click="prevPage()"><a href="javascript:;"><i class="fa fa-angle-left fa"></i></a></li>
    <li><span>Page</span></li>
    <li><input class="page-input" placeholder="1" type="number" ng-model="currentPage"></li>
    <li><a title="Search"><i class="fa fa-search"></i></a></li>
    <li><span>of {{ pageCount() }}</span></li>
    <li ng-disabled="nextPageDisabled()" ng-click="nextPage()"><a href="javascript:;"><i class="fa fa-angle-right fa"></i></a></li>
    <li ng-disabled="nextPageDisabled()" ng-click="lastPage()"><a href="javascript:;">Last</a></li>
    <li><span>{{ totalItems() }} items found</span></li>
</ul>