<div loading></div>
<div class="container-login">
    <div class="content-login">


        <form name="userForm" ng-controller="AuthorizationController" class="col-xs-12 form-fieldset-dialog blue">
            <fieldset>
                <legend>
                    Sign in here!
                </legend>

                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon login-addon" for="userName"><i class="fa fa-user fa-lg"></i></span>
                            <input type="text" class="form-control" id="userName" name="userName" placeholder="Username" ng-model="user.userName">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon login-addon" for="password"><i class="fa fa-lock fa-lg"></i></span>

                            <!--<input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password">-->

                            <div pilot-password pilot-password-model="user.password" pilot-password-show-password="showPassword()"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div pilot-checkbox pilot-checkbox-label="Remember me!" pilot-checkbox-model="user.rememberMe"></div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="submit" value="Sign in" ng-click="login()" class="btn btn-primary btn-lg" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div status-message sm-position="relative"></div>
                </div>
            </fieldset>
        </form>


    </div>
</div>
