<link href="/Content/Scripts/components/pagination/style.css" type="text/css" rel="stylesheet" />

<ul class="pagination" ng-controller="paginationCtrl">
    <li><a href="#" ng-disabled="prevPageDisabled()" ng-click="firstPage()">First</a></li>
    <li><a href="#" ng-disabled="prevPageDisabled()" ng-click="prevPage()"><i class="fa fa-angle-left fa"></i></a></li>
    <li><span class="table-pagination">Page</span></li>
    <li>
        <input class="page-input" placeholder="Pop your page here" type="number" ng-model="newCurrentPage"></li>
    <li><a class="page-search" title="Search"><i class="fa fa-search"></i></a></li>
    <li><span class="table-pagination">of {{ pageCount() }}</span></li>
    <li><a href="#" ng-disabled="nextPageDisabled()" ng-click="nextPage()"><i class="fa fa-angle-right fa"></i></a></li>
    <li><a href="#" ng-disabled="nextPageDisabled()" ng-click="lastPage()">Last</a></li>
</ul>
