<!--<link href="/Content/Scripts/components/pagination/style.css" type="text/css" rel="stylesheet" />-->
<ul class="pure-paginator" ng-disabled="isVisible()">
    <li class="pure-button prev" ng-disabled="prevPageDisabled()" ng-click="firstPage()"><a href="javascript:;">First</a></li>
    <li class="pure-button prev" ng-disabled="prevPageDisabled()" ng-click="prevPage()"><a href="javascript:;"><i class="fa fa-angle-left fa"></i></a></li>
    <li class="pagination-desc"><div>Page</div></li>
    <li class="pure-button"><input class="page-input" placeholder="1" type="number" ng-model="newCurrentPage"></li>
    <li class="pagination-desc"><a class="page-search" title="Search"><i class="fa fa-search"></i></a></li>
    <li class="pagination-desc"><div>of {{ pageCount() }}</div></li>
    <li class="pure-button next" ng-disabled="nextPageDisabled()" ng-click="nextPage()"><a href="javascript:;"><i class="fa fa-angle-right fa"></i></a></li>
    <li class="pure-button next" ng-disabled="nextPageDisabled()" ng-click="lastPage()"><a href="javascript:;">Last</a></li>
    <li class="pagination-desc"><div>{{ totalItems() }} items found</div></li>
</ul>
