<div loading></div>
<div menu></div>
<div status-message></div>
<div class="container page-body" ng-controller="ResourceController">
    <div class="col-xs-12">
        <h2>Resources <a href="javascript:;" modal-target="#registeringResource" modal-onload="setCurrent({})"><i class="fa fa-plus-circle"></i></a></h2>
        <form name="resourceFilterForm" class="col-xs-12  no-wpadding form-fieldset-dialog blue">
            <fieldset>
                <legend>Filters</legend>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Application:</label>
                            <select ng-model="filter.Application" ng-options="app.Name for app in availableApplications" class="form-control">
                                <option value="">-- Choose an application --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="filterResourceType">Resource type:</label>
                            <select id="filterResourceType" name="filterResourceType" ng-model="filter.ResourceTypeId" ng-options="type.Id as type.Description for type in availableResourceTypes" class="form-control">
                                <option value="">-- Choose a resource type --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="filterValue">Value</label>
                            <input type="text" class="form-control" id="filterValue" name="filterValue" placeholder="Pop the resource's value here" ng-model="filter.Value" />
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="filterDescription">Description</label>
                            <input type="text" class="form-control" id="filterDescription" name="filterDescription" placeholder="Pop the resource's description here" ng-model="filter.Description" />
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" ng-click="search()" value="Search" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-xs-12">
        <h3>List of resources <i class="fa fa-archive"></i></h3>
        <table class="table table-striped" ng-show="!!resourcesOut && !!resourcesOut.length">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in resourcesOut track by item.Id" ng-cloak>
                    <td><strong>{{ item.Id }}</strong></td>
                    <td>
                        <p>{{ item.Value }}</p>
                    </td>
                    <td>
                        <p>{{ item.Description }}</p>
                    </td>
                    <td class="table-options">
                        <a href="javascript:;" modal-target="#registeringResource" modal-onload="setCurrent(item)"><i class="fa fa-pencil fa"></i></a>
                        <a href="javascript:;" modal-target="#deletingResource" modal-onload="setDeletingItem(item)"><i class="fa fa-times fa"></i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <pagination in-list="resources"
                            out-list="resourcesOut"
                            page-size="pageSize"
                            current-page="currentPage"
                            search-query="textFilter"
                            type="small"
                            class="pull-right"></pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div ng-show="hasSearched && !resources.length">
            <div class="alert alert-info">
                <div class="message-center">
                    <strong><i class="fa fa-check"></i>&nbsp;Ops!&nbsp;</strong>We could not find resources for you.</i>
                </div>
            </div>
        </div>
    </div>

    <div modal-dialog id="registeringResource" confirm-yes="save()" confirm-no="clearCurrent()">
        <div class="header">
            <h2 ng-cloak>{{ current.Id > 0 ? "Update the resource" : "Create a resource" }}</h2>
        </div>
        <div class="body">
            <form name="regForm" ng-cloak>
                <div class="form-group">
                    <label>Application:</label>
                    <select ng-model="current.Application" required ng-options="app.Name for app in availableApplications" class="form-control">
                        <option value="">-- Choose an application --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Resource type:</label>
                    <select ng-model="current.ResourceTypeId" required ng-options="type.Id as type.Description for type in availableResourceTypes" class="form-control">
                        <option value="">-- Choose a resource type --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Value:</label>
                    <input type="text" ng-model="current.Value" required class="form-control" />
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <input type="text" ng-model="current.Description" required class="form-control" />
                </div>
            </form>
        </div>
        <div class="footer">
            <input type="submit" value="Save" confirm-yes class="btn btn-primary" />
            <input type="button" value="Cancel" confirm-no class="btn" />
        </div>
    </div>

    <div modal-dialog id="deletingResource" confirm-yes="delete()" confirm-no="clearDeletingItem()">
        <div class="header">
            <h2 ng-cloak>Delete the resource</h2>
        </div>
        <div class="body">
            <form name="appForm" ng-cloak>
                <p>Do you really want to delete <strong>{{ deletingItem.Name }}</strong>?</p>
            </form>
        </div>
        <div class="footer">
            <input type="submit" value="Delete" confirm-yes class="btn btn-primary" />
            <input type="button" value="Cancel" confirm-no class="btn" />
        </div>
    </div>
</div>
