.drop-list {

}

.drop-list-header {

}

.drop-list-filter {

}

.drop-list-odd {
    background-color:#aeaeae;
}

.drop-list-even {
    background-color:#fff;
}

.drop-list-selected {
    background-color:#428bca;
}