.drop-list {
    margin:10px 0;
    padding:0;
    box-sizing:border-box;
    width:100%;
}

.drop-list-item {
    margin:0;
    padding:5px;
    width:100%;
    box-sizing:border-box;
    list-style-type:none;
}

.drop-list-header {

}

.drop-list-filter {

}

.drop-list-odd {
    background-color:#dedede;
}

.drop-list-even {
    background-color:#fff;
}

.drop-list-selected {
    background-color:#428bca;
}

.drop-list-item-wrapper {
    text-wrap:none;
    white-space:nowrap;
}

.list-item-detail {
    display:inline-block;
}

.checkbox-item {
    /*margin-top:-10px;*/
    display:inline-block;
    text-wrap:none;
    white-space:nowrap;
}

.checkbox label::before, .checkbox label::after {
    vertical-align:middle;
}