<div>
    <h4 ng-bind="header" class="drop-list-header"></h4>
    <input type="text" ng-model="query" class="drop-list-filter"/>
    <ul class="drop-list">
        <li class="drop-list-item" pilot-item-click="toggleItem(it)" ng-repeat="it in listAll" 
            ng-class="{ 'drop-list-odd': !isSelected(it) && !$even, 'drop-list-even': !isSelected(it) && !$odd, 'drop-list-selected': isSelected(it) }">
            <div class="drop-list-item-wrapper">
                <div ng-transclude class="list-item-detail"></div>
                <div class="checkbox-item">
                    <div pilot-checkbox pilot-checkbox-checked="isSelected(it)"></div>
                </div>
            </div>
        </li>
    </ul>
</div>