.password-toggle {
    display: block;
    position: absolute;
    top: 33%;
    right: 10px;
    float: right;
    z-index: 3;
    background: transparent;
    border: 0;
    border-radius: 0.25em;
    color: #888;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
}

    .password-toggle:hover, .password-toggle:focus {
        background-color: transparent !important;
        color: #555;
        outline: transparent !important;
    }

div.form-control {
    border:0 !important;
    margin:0 !important;
    padding:0 !important;
}

    div.form-control input.inner-password {        
        height: 100%;
        border-bottom-right-radius: 6px !important;
        border-top-right-radius: 6px !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }
