<div ng-switch="view" class="on-top">
    <div ng-switch-when="date">
        <table>
            <thead>
                <tr>
                    <th ng-mousedown="prev()">‹</th>
                    <th colspan="5" class="switch" ng-mousedown="setView('month')" ng-cloak>{{ date | date: "yyyy MMMM"}}</th>
                    <th ng-mousedown="next()">›</th>
                </tr>
                <tr>
                    <th ng-repeat="day in weekdays" style="overflow: hidden" ng-cloak ng-bind="(day | date: 'EEE')"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="week in weeks">
                    <td ng-repeat="day in week">
                        <span ng-class="{'now':isNow(day),'active':isSameDay(day),'disabled':(day.getMonth()!=date.getMonth() || isUnavailableAfter(day) || isUnavailableBefore(day)),'after':isAfter(day),'before':isBefore(day)}"
                              ng-mousedown="setDate(day)" ng-bind="day.getDate()"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-switch-when="year">
        <table>
            <thead>
                <tr>
                    <th ng-mousedown="prev(10)">‹</th>
                    <th colspan="5" class="switch" ng-cloak>{{ years[0].getFullYear() }}-{{ years[years.length-1].getFullYear() }}</th>
                    <th ng-mousedown="next(10)">›</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        <span ng-class="{'active':isSameYear(year),'now':isNow(year),'disabled':((minAvailableDate && (year.getFullYear() < minAvailableDate.getFullYear())) || (maxAvailableDate && (year.getFullYear() > maxAvailableDate.getFullYear())))}"
                              ng-repeat="year in years"
                              ng-mousedown="setDate(year)" ng-bind="year.getFullYear()"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-switch-when="month">
        <table>
            <thead>
                <tr>
                    <th ng-mousedown="prev()">‹</th>
                    <th colspan="5" class="switch" ng-mousedown="setView('year')" ng-cloak>{{ date | date: "yyyy" }}</th>
                    <th ng-mousedown="next()">›</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        <span ng-repeat="month in months"
                              ng-class="{'active':isSameMonth(month),'after':isAfter(month),'before':isBefore(month),'now':isNow(month),'disabled':((minAvailableDate && (month.getFullYear() < minAvailableDate.getFullYear() || (month.getFullYear() == minAvailableDate.getFullYear() && month.getMonth() < minAvailableDate.getMonth()))) || (maxAvailableDate && (month.getFullYear() > maxAvailableDate.getFullYear() || (month.getFullYear() == maxAvailableDate.getFullYear() && month.getMonth() > maxAvailableDate.getMonth()))))}"
                              ng-mousedown="setDate(month)"
                              ng-bind="month|date:'MMM'"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-switch-when="hours">
        <table>
            <thead>
                <tr>
                    <th ng-mousedown="prev(24)">‹</th>
                    <th colspan="5" class="switch" ng-mousedown="setView('date')" ng-cloak>{{ date | date: "dd MMMM yyyy" }}</th>
                    <th ng-mousedown="next(24)">›</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        <span ng-repeat="hour in hours"
                              ng-class="{'now':isNow(hour),'active':isSameHour(hour)}"
                              ng-mousedown="setDate(hour)" ng-bind="hour|time"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-switch-when="minutes">
        <table>
            <thead>
                <tr>
                    <th ng-mousedown="prev()">‹</th>
                    <th colspan="5" class="switch" ng-mousedown="setView('hours')" ng-cloak>{{ date | date: "dd MMMM yyyy" }}</th>
                    <th ng-mousedown="next()">›</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        <span ng-repeat="minute in minutes"
                              ng-class="{active:isSameMinutes(minute),'now':isNow(minute)}"
                              ng-mousedown="setDate(minute)"
                              ng-bind="minute|time"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>